# Web Server
fastapi
uvicorn
gunicorn

# Security & Auth
python-jose[cryptography]
passlib[bcrypt]
bcrypt>=4.0.1
python-multipart
python-dotenv

# AI & Data
google-genai
pydantic
pandas
openpyxl

# Database
psycopg2-binary